.container {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 32px;
}

sidebar {
    width: 10vw;
    height: 100vh;
    background-color: white;
}

main {
    width: 80vw;
    height: 100vh;
    background-color: white;
}

#fiveDayContainer {
    display: flex;
    flex-direction: column;
}

#oneDayContainer {
    display: flex;
    flex-direction: row;
}